Repository Ph4ntomByte/Portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, infrastructure, configuration, content, docs, assets, tests

chore: removed testimonials
  src/components/Testimonials/TestimonialCard.tsx
  src/components/Testimonials/TestimonialSection.tsx
Labels: frontend

test: verify pre-commit formatting
  .prettierrc
  package-lock.json
  package.json
Labels: configuration

chore: configure Next.js to run on port 80
  package.json
Labels: configuration

chore: update Docker configuration to use port 80
  Dockerfile
  docker-compose.yml
Labels: infrastructure

chore: update running ports for nginx
  .github/workflows/deploy.yml
Labels: infrastructure

feat: remove not working url
  content/projects/project2.json
Labels: content

update bio and add new language to skillset
  src/app/layout.tsx
  src/app/opengraph-image.png
  src/app/opengraph-image.tsx
  src/appData/index.ts
  src/assets/icons/ruby.png
  src/components/Hero/Hero.tsx
  src/components/Services/ServiceSection.tsx
  src/utils/icons.tsx
Labels: frontend, assets

.github/labeler.yml:

frontend:
  - "src/app/**"
  - "src/components/**"
  - "src/hooks/**"
  - "src/utils/**"
  - "src/appData/**"
  - "public/images/**"
  - "src/assets/images/**"
  - "src/assets/icons/**"

backend:
  - "src/actions/**"
  - "src/services/**"
  - "src/lib/**"
  - "src/app/actions/**"

infrastructure:
  - "Dockerfile"
  - "docker-compose.yml"
  - ".github/workflows/deploy.yml"
  - ".github/workflows/**"

configuration:
  - "next.config.ts"
  - "tsconfig.json"
  - "postcss.config.mjs"
  - "package.json"
  - "package-lock.json"
  - ".eslintrc.*"
  - ".prettierrc.*"

content:
  - "content/**"

docs:
  - "README.md"
  - "CNAME"
  - "README-*.md"
  - "docs/**"

assets:
  - "src/assets/**"
  - "public/images/**"

tests:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "jest.config.js"
